@import "bootstrap-sprockets";
@import "bootstrap";
@import "material-dashboard";

#project-chart-container {
  margin-bottom: 20px;
}

body {
  padding-top: 75px;
}

img.navbar-logo {
  height: 50px;
  float: left;
  border-radius: $border-radius-base;
}

// nav.navbar {
//   background: linear-gradient(60deg, $cyan-400, $cyan-600);
// }

